VITE_CLOUDBASE_ENV_ID=yunlefun-8g7ybcxc7345c490
VITE_CLOUDBASE_REGION=ap-shanghai
VITE_CLOUDBASE_ACCESS_KEY=
VITE_YUNLE_SSO_ORIGIN=https://www.yunle.fun
VITE_YUNLE_APP_AUTH_ORIGIN=https://apps.yunle.fun
VITE_GMM_APP_ID=give-me-money
