# Custom
.cache
dist
.DS_Store

# lock
yarn.lock
package-lock.json
pnpm-lock.yaml

# parcel
.parcel-cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# vitesse
components.d.ts
auto-imports.d.ts
.vite-ssg-dist
.vite-ssg-temp
